@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Playfair+Display:wght@400;700;900&display=swap");

/* .slick-active {
  padding: 100px 0;
} */

.slick-active div:focus-visible,
.slick-slide {
  outline: none !important;
}

/* .slick-slide {
  height: 100%;
}

.slick-center {
  transform: scale(1.2)
}

.slick-slider img {
  max-width: 350px;
  width: 100%;
  object-fit: cover;
}

.slick-slide:not(.slick-active) {
  margin: 100px 0;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
}

/* html {
  font-size: 1.1rem;
} */

body {
  overflow-x: hidden;
}

.manrope {
  font-family: var(--font-manrope);
}

.playfairdisplay {
  font-family: var(--font-playfairdisplay);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Playfair Display", serif; */
  font-family: var(--font-playfairdisplay);
}

p,
span,
input,
button,
ul,
li,
a,
table,
label,
textarea,
select,
option,
div {
  font-family: var(--font-manrope);
}

.mta-button a:hover span {
  margin-right: 24px;
}

/* Homepage what we do best section */
/* .homepageClipath {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51.5%);
  z-index: -1;
}

.homepageClipathOutside {
  clip-path: polygon(20% 0%, 75% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
  background: #000;
  width: 60vw;
  height: 85vh;
  position: relative;
} */

/* .homepageClipathInside {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white;
  clip-path: polygon(20% 0%, 75% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
} */
/* Regisration Stepper */
#reg-stepper-items button > span {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 50%;
}

#reg-stepper-items button.active > span.active {
  background: transparent !important;
  color: #000;
  /* font-size: 50px; */
  border: 2px solid #000;
  /* padding: 10px; */
  border-radius: 50%;
}

#reg-stepper-items button > span.completed {
  border: 2px solid #000;
}

/* Regisration Stepper */

/* Admin Navigation Drawer */
.appdrawer [data-state="open"] {
  background-color: #f5f6f8;
  border-radius: 8px;
}

.appdrawer [data-state="open"] h3 {
  border-bottom: 1px solid #a2a2a2;
  border-radius: 8px 8px 0 0;
  /* margin-bottom: 14px; */
}

/* Admin Navigation Drawer */

.navactive {
  background: #e5e7eb;
}

.product-photo .slick-dots {
  bottom: -0px !important;
  height: fit-content !important;
}

.product-photo .slick-dots li {
  width: 80px !important;
  height: 80px !important;
  /* background: #0000005b;
  padding: 0 10px; */
}
@media (max-width: 767px) {
  .product-photo .slick-dots li {
    width: 60px !important;
    height: 60px !important;
  }
}

.product-photo .slick-dots li img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.product-photo .slick-list {
  height: 100% !important;
}

.product-photo .slick-list .slick-track {
  height: 100% !important;
}

.product-photo .slick-list .slick-track .slick-slide {
  height: 100% !important;
}

.product-photo .slick-list .slick-track .slick-slide div {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.monthly-introductions-slider {
  height: 100% !important;
}

.monthly-introductions-slider .slick-arrow {
  display: none !important;
}

.monthly-introductions-slider .slick-list {
  height: 100% !important;
}

.monthly-introductions-slider .slick-list .slick-track {
  height: 100% !important;
}

.sample {
  height: 500px !important;
}

.monthly-introductions-slider .slick-list .slick-track .slick-slide > div {
  height: 100% !important;
}

/* .monthly-introductions-slider
  .slick-list
  .slick-track
  .slick-slide:first-child
  > div:not(:first-child) {
  height: 100% !important;
  display: flex !important;
  flex-direction: row !important;
} */
.remove-inlineblock {
  display: flex !important;
}

/* .view_all .slick-prev {
  left: unset !important;
  right: -88px !important;
  margin-top: 120px;
}

.view_all .slick-prev::before,
.view_all .slick-next::before {
  display: none;
}

.view_all .slick-next {
  left: unset !important;
  right: -88px !important;
  top: 415px !important;
}

@media (max-width: 1024px) {
  .view_all .slick-prev {
    left: unset !important;
    right: -44px !important;
  }

  .view_all .slick-next {
    left: unset !important;
    right: -44px !important;
    top: 415px !important;
  }
}

@media only screen and (max-width: 768px) {
  .view_all .slick-prev {
    left: unset !important;
    right: -60px !important;
    margin-top: 120px;
  }

  .view_all .slick-next {
    left: unset !important;
    right: -60px !important;
    top: 340px !important;
  }
} */

/* .slick-dots {
  bottom: -45px !important;
} */

.pagivationActive {
  background: #f2f2f2;
}

.paginationLink {
  padding: 10px;
}

.paginationNext,
.paginationPrev {
  margin-top: 4px;
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.react-player video {
  object-fit: cover !important;
}

.paginate-container .break {
  pointer-events: none;
  cursor: default;
}

.paginate-container .break .child {
  pointer-events: auto;
}
